{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center bgimage1">
        <div class="col-md-8 mt-3 offset-md-6">
          <h3 class="text-primary">{% trans "Sign In" %}</h3>          
        </div>
        <div class="col-md-8 mt-3 offset-md-6">            
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                <p>{% blocktrans %}If you have not created an account yet,</p>
                <p>Then Please : <a class="link" href="{{ signup_url }}">sign up</a>{% endblocktrans %}</p>
                <p>To continue Browsing : <a href="{% url 'browse' %}"> Browse</a></p>
            </form>   
        </div>
    </div>
</div>
{% endblock %}
