{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid bgimage">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-3 offset-md-6">
            <h3 class="text-primary">{% trans "Sign Out" %}</h3>           
        </div>       
        <div class="col-md-8 mt-3 offset-md-6">
            <form method="post" action="{% url 'account_logout' %}">                
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <h4>{% blocktrans %}Thank You for Visiting</h4>                
                <h4>We Hope you Enjoyed ! :D</h4>
                <h4>Looking forward to seeing you Again{% endblocktrans %}</h4>                
                <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
                <p>To continue Browsing : <a href="{% url 'browse' %}" class="btn btn-primary" role="button" aria-pressed="true"> Browse</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}