{% extends 'base.html'%}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5 text-center text-primary">
            <h1>400 Error</h1>
            <h2>Bad Request</h2>
            <br>
            <h3>Ambrosia Greek Recipes Applogise</h3>
            <p>We are currently unable to handle this request</p>
            <P>Please return to Our Home Page</p>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>                                                      
        </div>
    </div>
</div>
{%endblock%}
