{% extends 'base.html'%}

{% block content %}

<div class="container-fluid bgimage">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-2 text-center">
            <h1 class="text-primary">403 Error</h1>
            <h2 class="mt-3 text-primary">Page Forbidden</h2>
            <br>
            <h3>Ambrosia Greek Recipes Applogise</h3>            
            <p>Looks like you're trying to access forbidden content.</p>
            <p>Please check that you are logged into the correct account</p>
            <P>LogOut and LogIn with the Correct Account</P>
            <div class="text-center">                     
                <a href="{% url 'account_logout' %}" class="btn btn-primary" role="button" aria-pressed="true">LogOut</a>  
                <a href="{% url 'browse' %}" class="btn btn-primary" role="button" aria-pressed="true">Browse</a>
            </div>    
        </div>
    </div>
</div>
{%endblock%}
