{% extends "base.html" %}

{% block content %}
<!-- Hero Image , Welcome & Sign Up Encourgament-->
<section>
    <div class="container-fluid img-fluid" id="hero-image">
        <div class="row">
            <div class="col-12">
                <div class="text-center text-primary">
                    <h1 class="logo-hero">Ambrosia Greek Recipe's</h1>
                    <h3>Home Of</h3>
                    <h3>The Food of The Gods</h3>
                    <h4>A place to Share your most loved Greek Recipe's</h4>            
                    <h4>Welcome</h4>
                    <!--Displays Loged In User Else Sign up Message -->
                    {% if user.is_authenticated %}
                    <!--Displays Loged In User-->
                    <P>{{ user.username }}</p>
                    {% else %}
                    <!--Displays Sign Up Message-->                   
                    <h4>Sign up Today</h4>
                    {% endif %}
                    <h4>To start sharing your Greek Recipe's with the world!</h4>
                    <form action="{% url 'account_signup' %}" method="get">
                        <!--Displays Log Out if User Loged In Else Sign Up-->
                        {% if user.is_authenticated %}
                        <!--Displays Log Out for Loged In User-->   
        	            <p><a class="btn btn-primary" href="{% url 'account_logout' %}">Logout</a></p>
                        {% else %}
                        <!--Displays Sign Up to New User or User not Loged in-->                       
                        <button class="btn btn-primary">Sign up!</button>
                        {% endif %}                        
                    </form>
                    <p><small>By signing up you agree to our terms and service.</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Recently Recently Added & What we do section-->
<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!--Recently Added-->
            <div class="col-md-5 mt-5">
                <h3 class="text-center text-primary">Recently Added</h3>
                <div class="col-6 offset-3">
                    <hr>                        
                </div>
                <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        {% for recipe in recipes %}                                 
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{% url 'recipe_detail' recipe.slug %}">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img src="https://res.cloudinary.com/drf6jhefj/image/upload/v1666771761/olive-oil-1867229_640_mgokn5.jpg" class="d-block w-100" alt="...">
                                {% else %}
                                <img src="{{ recipe.featured_image.url }}" class="d-block w-100" alt="{{ recipe.title }}">
                                {% endif %}
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ recipe.title }}</h5>
                                    <p>{{ recipe.description}}</p>
                                    <p>Author: {{ recipe.author }}</p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}                                            
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <!--What We Do-->
            <div class="col-md-5 mt-5">
                <h3 class="text-center text-primary">What We Do</h3>                         
                <div class="col-6 offset-3">
                    <hr>                        
                </div>
                <div class="col-6 offset-3">
                    <h3 class=" text-primary"><i class="fa-solid fa-magnifying-glass-arrow-right"></i><a style="text-decoration: none" href="{% url 'browse' %}"> Browse</a></h3>
                    <p>Browse through our Fantastic Range of Recipe's</p>
                </div>
                <div class="col-6 offset-3">
                    <h3 class=" text-primary"><i class="fa-solid fa-person-circle-plus"></i> Create/Add</h3>
                    <p>Sign Up and Add Your Own Recipe's</p>
                    <p>You will also be able to Update / Delete them</p>
                </div>
                <div class="col-6 offset-3">
                    <h3 class=" text-primary"><i class="fa-solid fa-comment-dots"></i> Comment</h3>
                    <p>Sign Up and Commnet on Recipe's</p>
                    <p>You will also be able to Update / Delete them</p>
                </div>
                <div class="col-6 offset-3">
                    <h3 class=" text-primary"><i class="fa-brands fa-gratipay"></i> Like</h3>
                    <p>Sign Up and Like & Unlike Recipe's</p>
                </div>
            </div>            
        </div>
    </div>
</section>        
{% endblock %}
