{% extends "base.html" %}

{% block content %}
<!-- Hero Image -->
<section>
    <div class="container-fluid img-fluid" id="hero-image">
        <div class="row">
            <div class="col-12">
                <div class="text-center text-primary">
                    <h1 class="logo-hero">Ambrosia Greek Recipe's</h1>
                    <h2>Home Of</h2>
                    <h2> The Food of The Gods</h2>
                    <h3>A place to Share your most loved Greek Recipe's</h3>            
                    <h4>Welcome</h4>                  
                    <h4>Sign up Today</h4>
                    <h4>To start sharing your Greek Recipe's with the world!</h4>
                    <form action="{% url 'account_signup' %}" method="get">
                        <button class="btn btn-primary">Sign up!</button>
                    </form>
                    <p><small>By signing up you agree to our terms and service.</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}